body {
  padding-left: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.side-lined{
  border-left: 0px solid #AAA;
  border-right: 0px solid #AAA;
}

.bottom-lined{
  border-bottom: 0px solid #AAA;
  padding-bottom: 2px;
}